.home-title {
    font-family: Gotham;
    font-size: 55px;
    font-weight: bold;
    line-height: 120%;
    color: $white;
}

.home-slider {
    border: 1px solid $black;
    padding: 120px 25px 20px 90px;

    .slider-item {
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.home-block {
    height: 618px;

    &__dark {
        background-color: $black;
    }

    &__title {
        top: 20%;
        left: 10%;
        z-index: 10;

        .link-our-service {
            font-size: 22px;
            color: $white;
            width: fit-content;

            &:hover {
                text-decoration: underline;

                span {
                    color: $grey4;
                }

                svg {
                    path {
                        fill: $grey4;
                    }
                }
            }
        }
    }
}

.customer-home {
    .home-service {
        &-item {
            width: calc(100% / 5);
            text-align: center;
            margin: 10px 0;
        }
    }
    .btn {
        background-color: $white;

        &:hover {
            svg path {
                fill: $white;
            }
        }
    }
}

.form-select, .form-control {
    border: none;
    border-bottom: 1px solid $grey;
    border-radius: 0;
}
#search {
    border-bottom: 1px solid $grey;
}

.card {
    border-color: $black;
    border-radius: 0;
    max-width: 375px;
    cursor: pointer;

    &-img-top {
        transform: translate(-10px, 10px);
    }
    &-body {
        background-color: $white;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: -1px;
        margin-left: -1px;
        margin-bottom: -1px;
        border-top: 1px solid $black;
    }
}

.card:hover {
    .card-img-top {
        transition: all 300ms ease;
        transform: translate(0, 0);
    }
}

.catalog {
    .card {
        &-img-top {
            width: 375px;
            height: 415px;
        }
    }
}

.our-news-container {
    position: relative;

    .header-banner {
        height: 500px;
        background-position: inherit;
    }

    .description {
        position: absolute;
        top: 42%;
        left: 8%;

        .news-title {
            background-color: transparent;
        }

        .news-mail {
            padding-left: 20px;
        }

        .label-news {
            position: absolute;
            bottom: 25px;
        }
    }
}

.customer {
    .primary-hover {

        &:before {
            background-color: #6c757d;
        }
    }


    .primary-hover {
        &:hover {
            &:before {
                background-color: #6c757d;
            }
        }

        &-outline {
            &:hover {
                span {
                    color: $white;
                }
            }
        }
    }
}

.catalog {
    .primary-hover-outline:hover {
        svg path {
            fill: $white;
        }
    }
}

.customer {
    .collapse-text {
        font-size: 16px;
        color: #606060;
    }
}

.hover-link {
    display: none;
    top: 40%;
    left: 25%;
    color: $white;

    span {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    #catalog {
        .card:hover {
            .card-hover:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,.5);
                z-index: 2;
            }
            .hover-link {
                display: block;
                z-index: 99;
            }
        }
    }
}

@media (max-width: 1200px) {
    .home-slider {
        padding: 120px 10px 10px 10px;
    }
    .our-news-container {
        .description {
            top: 30%;

            .label-news {
                bottom: 80px;
            }
        }
    }
}

@media (max-width: 768px) {
    .home-block {
        height: 300px;
    }
    .home-slider {
        padding: 75px 0 0 0;

        .slider-item {
            height: 300px;
        }
    }
    .our-news-container {
        display: flex;
        flex-direction: column-reverse;

        .header-banner {
            height: 200px;
            background-size: cover;
            background-position: center;
        }
        .description {
            position: relative;
            left: 2%;
            max-width: 100%;
        }
    }
    .customer-home {
        .home-service {
            &-item {
                width: calc(100% / 3);
            }
        }
    }
}

@media (max-width: 575px) {
    .customer-home {
        .home-service {
            &-item {
                width: calc(100% / 2);
            }
        }
    }
}
