.btn {
    border-radius: 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $blue;
    border-color: $blue;
}

.btn-outline-primary,
.btn-outline-primary:hover {
    color: $blue;
    border-color: $blue;
    background-color: transparent;
}
