h1 {
    font-family: Gordita-Regular;
    font-size: 45px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
}

h2 {
    font-family: Gotham;
    font-size: 30px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 40px;
    letter-spacing: normal;
}

h3 {
    font-family: Gotham;
    font-size: 26px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: normal;
}

h4 {
    font-family: Gordita-Regular;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: normal;
}

p {
    font-family: Gordita-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: normal;
    font-style: normal;
}
